@import '@/styles/colors.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 400px;
  font-size: 25px;

  a {
    color: $pinkRose;
  }

  a:active {
    color: $white;
  }
}