@import '@/app/styles/colors.scss';
@import '@/app/styles/mixins.scss';

.root {
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  gap: 50px;
}

.searchField {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.searchForm {
  input {
    padding: 20px;
    width: 500px;
    border-radius: 50px;
    background-color: $white;
  }

  input:focus{
    border: 1px solid $black;
  }
}

.searchError {
  margin-top: 50px;
  font-size: 25px;
}

@include _580 {
  .searchForm {
    input {
      width: 300px;
    }
  }
}