.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding-bottom: 200px;
  width: 90%;
}

.background {
  background-color: rgba(199, 222, 250, 0.7);
}